<div class="row" *ngFor="let session of sessions">
    <div class="col-md-10">
      <collapsible-well [title]="session.name">
        <div class="title">
          {{session.name}}
          <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red">
          </i>
        </div>
        <div class="body">
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration}}</span><br />
          <span>Price: {{session.price}}$</span>
          <p>{{session.abstract}}</p>
        </div>
        </collapsible-well>
      
    </div>
  </div>