<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{event?.name | uppercase}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Date:</strong> {{event?.date |date}}</div>
        <div><strong>Time:</strong> {{event?.time}}</div>
      </div>
      <div class="col-md-6">
        <address>
          <strong>Address:</strong><br />
          {{event?.location?.address}}<br />
          {{event?.location?.city}}, {{event?.location?.country}}
        </address>
      </div>
    </div>
    <hr>
    <div class ="row" style="margin-bottom: 10px;">
      <div class="col-md-2">
        <h3 style="margin:0"> Sessions</h3>
      </div>
      <div class="col-md-7">
        <button class="btn btn-default" [class.active]="filterBy=='all'" 
        (click)="filterBy=='all'">All</button>
        <button class="btn btn-default" [class.active]="filterBy=='45min'" 
        (click)="filterBy=='45min'">45 min</button>
        <button class="btn btn-default" [class.active]="filterBy=='1 Hour'" 
        (click)="filterBy=='1 Hour'">1 Hour</button>
        <button class="btn btn-default" [class.active]="filterBy=='1,5 Hour'" 
        (click)="filterBy=='1,5 Hour'">1,5 Hour</button>
        <button class="btn btn-default" [class.active]="filterBy=='3 Hour'" 
        (click)="filterBy=='3 Hour'">3 Hour</button>
        <button class="btn btn-default" [class.active]="filterBy=='1 Day'" 
        (click)="filterBy=='1 Day'">1 Day</button>
        <button class="btn btn-default" [class.active]="filterBy=='3 Days'" 
        (click)="filterBy=='3 Days'">3 Days</button>
        <button class="btn btn-default" [class.active]="filterBy=='1 Week'" 
        (click)="filterBy=='1 Week'">1 Week</button>
      </div>

      <div class="col-md-2">
        <a (click)="addSession()">Add Session</a>
      </div>
    </div>
    <session-list *ngIf="!addMode" [sessions]="event?.sessions"></session-list>
    <app-create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelAddSession)="cancelAddSession()"></app-create-session>
  </div>