<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{event?.name | uppercase}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Date:</strong> {{event?.date |date}}</div>
      </div>
      <div class="col-md-6">
        <address>
          <div *ngIf="event?.location">
          <strong>Address:</strong><br />
          {{event?.location?.address}}<br />
          {{event?.location?.city}}, {{event?.location?.nazwa}}
        </div>
        <div *ngIf="event?.platforms">
          <strong>Platforms:</strong><br />
          {{event.platforms}}<br />
        </div>
        </address>
      </div>
    </div>
    <hr>
    <div class ="row" style="margin-bottom: 10px;">
      <div class="col-md-2">
        <h3 style="margin:0"> Sessions</h3>
      </div>
      <div class="col-md-7">
        <button class="btn btn-default" [class.active]="filterBy=='all'" 
        (click)="filterBy=='all'">All</button>
        <button class="btn btn-default" [class.active]="filterBy=='Classes 1-4 - Primary School'" 
        (click)="filterBy=='Classes 1-4 - Primary School'">Classes 1-4 - Primary School</button>
        <button class="btn btn-default" [class.active]="filterBy=='Classes 5-8 - Primary School'" 
        (click)="filterBy=='Classes 5-8 - Primary School'">Classes 5-8 - Primary School</button>
        <button class="btn btn-default" [class.active]="filterBy=='High School - basic'" 
        (click)="filterBy=='High School - basic'">High School - basic</button>
        <button class="btn btn-default" [class.active]="filterBy=='High School - extend'" 
        (click)="filterBy=='High School - extend'">High School - extend</button>
        <button class="btn btn-default" [class.active]="filterBy=='Studies - basic'" 
        (click)="filterBy=='Studies - basic'">Studies - basic</button>
        <button class="btn btn-default" [class.active]="filterBy=='Studies - extend'" 
        (click)="filterBy=='Studies - extend'">Studies - extend</button>

      </div>

      <div class="col-md-2">
        <a (click)="addSession()">Add Session</a>
      </div>
    </div>
    <session-list *ngIf="!addMode" [sessions]="event?.sessions"></session-list>
    <app-create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelAddSession)="cancelAddSession()"></app-create-session>
  </div>